# Go binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build artifacts
/bin/
/obj/

# Dependency directories
vendor/
Gopkg.lock
Gopkg.toml

# Go modules

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
*.DS_Store

# Environment variables
.env

# Test binary, build with `go test -c`
*.test

# Coverage files
*.out

# Terraform files
terraform/.terraform
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl